h1{
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
}

p{
  font-weight: 600;
  text-decoration:underline;
}

body{
  font-size: 16px;  
}

.background{
    background-color: #f1ecec;
}

.container-list{
    background-color:rgba(40, 189, 194, 0.877);
    width: 70px ;
    font-style: italic;
    text-align: center;
}

.list1{
  background-color: yellow;
}

.list2 {
  background-color: red;
}

.list3{
  background-color: brown;
}
